<section
  class="mx-auto"
  style="
    padding-top: 30%;
    width: 80%;
    display: block;
    grid-template-columns: min-content;
    grid-auto-rows: auto;
    padding: 19px;
    align-items: center;
    border-radius: 50px;
    background-color: rgb(211, 211, 211);
  "
>
  <h1 style="text-align: center">Cursos Disponibles</h1>
  <div class="row" style="width: auto; margin: auto auto">
    <mat-form-field class="col-md-6">
      <mat-label></mat-label>
      <input
        type="text"
        placeholder="Buscar el curso"
        matInput
        [(ngModel)]="filtro"
        style="text-align: center"
      />
    </mat-form-field>
  </div>

  <div class="row" style="width: auto; margin: auto auto">
    <div *ngFor="let curso of cursos | filtroCursos: filtro" class="col-md-3">
      <mat-card style="display: block; margin: auto">
        <mat-card-header style="text-align: center">
          <mat-card-title style="text-align: center">{{
            curso.nombre
          }}</mat-card-title>
          <mat-card-subtitle>{{ curso.comision }}</mat-card-subtitle>
        </mat-card-header>

        <img
          mat-card-image
          [src]="curso.imagen"
          alt="coderhouse"
          style="display: block; margin: auto"
        />

        <mat-card-content style="text-align: center">
          <p>Dictado por {{ curso.profesor }}</p>
          <p>Inicial el {{ curso.fechaInicio | date: "dd/MM/YYYY" }}</p>
          <p>Finaliza el {{ curso.fechaFin | date: "dd/MM/YYYY" }}</p>
        </mat-card-content>

        <mat-card-actions align="end">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
